/*.description {
  width: 73%;
  margin: auto;
}*/

.description-container {
  display: flex;
  width: 100%;
  padding: 0 1%;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

p.left-align {
  display: inline-block;
  width: 50%;
  margin: 3px 0;
}

p.right-align {
  display: inline-block;
  text-align: right;
  width: 50%;
  margin: 3px 0;
}
