@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

#itemsList {
  width: 73%;
  margin: 0 auto 1% auto;
  height: 50em;
  overflow-y: auto;
}

p:hover {
  cursor: default;
}

.item-and-description {
  /* background: red; */
}

.item-container {
  position: relative;
  border: 0.5px solid rgb(199, 199, 199);
  margin: 0.5% 0;
  border-radius: 4px;
  height: 2rem;
  background: #d6d6d6;
}

.name {
  display: inline-block;
  font-size: 1.3rem;
  padding-left: 1%;
  margin: 0;
  vertical-align: middle;
  line-height: 2rem;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vr {
  display: inline-block;
  border-left: 1px solid rgb(124, 124, 124);
  height: 1.7rem;
  margin: 0 2%;
  vertical-align: middle;

}

.calories {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  vertical-align: middle;
  line-height: 2rem;
}

.list-amount {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  vertical-align: middle;
  line-height: 2rem;
}

.item-container i {
  position: absolute;
  color: rgb(255, 66, 66);
  top: 50%;
  right: 1%;
  transform: translateY(-50%); 
  font-size: 1.2rem;
  -webkit-backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.item-container:hover i {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
