@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 0.5px solid grey; */
  margin: auto;
}
/* Row/columns */
.row {
  width: 73%;
  display: flex;
  margin: auto;
}

.column-0, .column-1 {
  flex: 50%;
  padding: 1%;
  margin: 0;
}

/* Search box and button */
#search-input {
  width: 88%;
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 1.1rem;
  vertical-align: middle;
}

#search-button {
  position: relative;
  width: 12%;
  background: #2196F3;
  color: white;
  cursor: pointer;
  border: 0.5px solid grey;
  border-left: none;
  height: 42px;
  vertical-align: middle;
}

#search-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#search-input::placeholder {
  color: grey;
}

/* Dropdown */
.Select {
  width: 100%;
  margin-bottom: 0;
}

/* Calories info */
/* #calories { */
  /* display: inline-block; */
  /* width: 100%; */
  /* font-size: 2.6rem; */
  /* background: blue; */
  /* text-align: right; */
  /* flex-direction: row-reverse; */
  /* justify-content: space-between; */
  /* padding: 0; */
  /* margin: 0; */
/* } */
#calories {
  width: 100%;
  margin: 0;
  padding: 0;
}

#calories p {
  font-size: 2.6rem;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: right;
}

#calories-value {
  width: 70%;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: bottom;
}

#calories-word {
  width: 30%;
}

#dashes {
  width: 100%;
}

#amount-input {
  width: 83%;
  margin-left: 0%;
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0;
  border: 0.5px solid grey;
  border-right: none;
  margin-bottom: 0;
  text-align: right;
  height: 36px;
  vertical-align: bottom;
}

#amount-input-generic {
  width: 95%;
  margin-left: 0%;
  border: 0.5px solid grey;
  padding: 10px;
  font-size: 1rem;
  margin: 10px 0;
  border: 0.5px solid grey;
  border-right: none;
  margin-bottom: 0;
  text-align: right;
  height: 36px;
  vertical-align: bottom;
}

#plus-button {
  position: relative;
  width: 12%;
  background: #2196F3;
  color: white;
  cursor: pointer;
  border: 0.5px solid grey;
  border-left: none;
  height: 36;
  vertical-align: bottom;
}

#plus-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.amount p {
  display: inline-block;
  background: #f1f1f1;
  width: 5%;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 9px;
  border: 0.5px solid grey;
  text-align: center;
  vertical-align: bottom; 
}

.amount form {
  margin-bottom: 0;
}

/* Remove number arrows in input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Remove focus outlines */
#search-input:focus,
#search-button:focus,
#select-food .Select,
#amount-input,
#plus-button,
#amount-input-generic
{
  outline: none;
}



