.topBar {
  position: relative;
}

.links {
  height: 2rem;
  width: 100%;
  position: fixed;
  background: rgb(32, 110, 255);
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.top-margin {
  padding: 2rem 0 0 0;
  margin: 0 0 0 0;
}

.topBar p {
  margin: 0;
  line-height: 2rem;
  display: inline-block;
  color: white;
}

.links-left p {
  padding-left: 4px;
}

.links-right p {
  padding-right: 5px;
}

.topBar p:hover {
  cursor: pointer;
}